/* Navigation */
nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 10px 0;
}

.navbarBackground {
  background-color: black;
  transition: background-color 0.3s ease-in-out;
}

.navWrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 2160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: goldenrod;
}
.navContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.navList {
  display: flex;
  margin-left: 10px;
  margin-top: 5px;
}

.navList li {
  margin-right: 10px;
}