/* Navigation */
nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 10px 0;
  transition: background-color 0.3s ease-in-out;
}

.navbarBackground {
  background-color: black;
}

.myList {
  position: relative;
}

span {
  background-color: goldenrod;
  color: white;
  position: absolute;
  top: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 0.7rem;
}

.navWrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 2160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLogo {
  color: goldenrod;
}
.navContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.navList {
  display: flex;
  margin-left: 20px;
  margin-top: 5px;
  color: white;
  align-items: center;
}

.navList li:not(:last-of-type) {
  margin-right: 20px;
}

.navLink {
  color: white;
  transition: color 0.2s ease-in-out
}

.navLink:visited {
  color: white;
}

.navLink:hover, 
.navLink:focus {
  color: goldenrod;
}

.hamburger {
  display: none;
}

.hamburger, .close {
  font-size: 2rem;
  color: white;
  margin-top: 10px;
}

.navListMobile {
  display: none;
  width: 90%;
  margin: auto;
}

.navItemMobile {
  padding: 10px 0;
}

.close {
  display: none;
}

@media (max-width: 1000px) {
  nav {
    background-color: black;
  }

  .navList {
    display: none;
  }

  .navListMobile {
    display: flex;
    flex-direction: column;
  }

  .hamburger {
    display: block;
  }

  .close {
    display: block;
  }
}

@media (max-width: 760px) {
  .navLogo {
    font-size: 1.5rem;
  }
}