.searchIcon,
.closeIcon {
    color: white;
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.searchIcon:hover,
.searchIcon:focus,
.closeIcon:hover,
.closeIcon:focus {
    color: goldenrod;
}

.searchForm {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}


.searchForm input[type="text"] {
    animation: grow 0.5s forwards;
    background: none;
    padding: 10px 0 10px 10px;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    font-size: 1rem;
}

@keyframes grow {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}