.myList {
    background: black;
    color: white;
    min-height: calc(100vh - 50px);
}

.myListWrapper {
    padding-top: 100px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 50px 50px 50px 0;
    position: relative;
    transition: transform 0.2s ease-in-out;
}

.card:last-of-type {
    margin-right: 0;
}

.card:hover {
    transform: scale(1.1);
}

.movieTitle {
    color: white;
}

.cardDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 5px;
}

.trashIcon {
    transition: color 0.2s ease-in-out;
    font-size: 1.5rem;
    cursor: pointer;
}

.trashIcon:hover, 
.trashIcon:focus {
    color: goldenrod;
}