/* Navigation */
nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 10px 0;
}

.navbar-background {
  background-color: black;
  transition: background-color 0.3s ease-in-out;
}

.navWrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 2160px;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: goldenrod;
}