.dashboard {
    background-color: black;
}

.dashboardWrapper {
    width: 90%;
    margin: auto;
    background-color: black;
    min-height: calc(100vh - 49px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboardContainer {
    display: flex;
    flex-direction: column;
}

.dashboardUser {
    margin-top: 20px;
}

.dashboardLink {
    margin-top: 20px;
    color: black;
    transition:  color 0.2s ease-in-out;
}

.dashboardLink:hover, 
.dashboardLink:focus {
    color: goldenrod;
}

.dashboardButton {
    background-color: goldenrod;
    color: white;
    border: none;
    padding: 10px 0;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out;
}

.dashboardButton:hover, 
.dashboardButton:focus {
    background-color: white;
    color: goldenrod;
    outline: 2px solid goldenrod;
}

.card {
    width: 50%;
    background-color: white;
    padding: 100px;
}

h3 {
    color: black;
}

@media (max-width: 1000px) {
    .card {
        width: 100%;
        padding: 30px;
    }
}