.login {
    background-color: black;
    min-height: calc(100vh - 49px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    text-align: center;
}

label {
    margin-bottom: 10px;
}

.errorMessage {
    background-color: rgba(255, 0, 0, 0.3);
    padding: 10px 0 10px 10px;
    margin-top: 20px;
}

.loginButton {
    background-color: goldenrod;
    color: white;
    padding: 10px 0;
    border: none;
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px;
    width: 100%;
}

.loginButton:hover, 
.loginButton:focus {
    background-color: white;
    color: goldenrod;
    outline: 1px solid goldenrod;
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.card {
    background-color: white;
    padding: 50px;
    width: 50%
}

.signInLink {
    color: black;
}

.formInput {
    padding: 10px 0 10px 10px;
}

.linkContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.link {
    color: black;
    transition: color 0.2s ease-in-out;
}

.link:hover, 
.link:focus {
    color: goldenrod;
}

@media (max-width: 1000px) {
    .card {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .linkContainer {
        flex-direction: column;
        text-align: center;
    }

    .heading {
        font-size: 1.5rem;
    }
}