.signUp {
    background-color: black;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: white;
    padding: 50px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.signUpButton {
    background-color: goldenrod;
    color: white;
    padding: 10px 50px;
    border: none;
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px;
}