.updateProfile {
    background-color: black;
    min-height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: white;
    padding: 50px;
    width: 50%;
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.formInput {
    padding: 10px 0 10px 10px; 
}

.updateButton {
    width: 100%;
    border: none;
    background-color: goldenrod;
    padding: 10px 0;
    color: white;
    margin-top: 20px;
}

.linkToLoginContainer {
    margin-top: 20px;
}

.linkToLogin {
    color: black;
    transition: color 0.2s ease-in-out;
}

.linkToLogin:hover, 
.linkToLogin:focus {
    color: goldenrod;
}