@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

html {
  font-size: 125%;
}

header {
  /* background: url(./assets/noom-peerapong-2uwFEAGUm6E-unsplash.jpg); */
  height: calc(100vh - 60px);
}

h1 {
  color: white;
  font-size: 3rem;
}

h2 {
  color: goldenrod;
  font-size: 2rem;
}

li {
  list-style: none;
}

.movieList {
  display: flex;
}

.movie {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
}

.movieDetails {
  position: absolute;
  color: white;
  z-index: 1;
}

.movieOverview {
  color: lightslategrey;
}