@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

html {
  font-size: 125%;
}

header {
  /* background: url(./assets/noom-peerapong-2uwFEAGUm6E-unsplash.jpg); */
  height: 100vh
}

a {
  text-decoration: none;
}

h1 {
  color: white;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

li {
  list-style: none;
}

nav {
  position: absolute;
  width: 100%;
}

.movieList {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}

.movie {
  width: 100%;
  height: 100vh;
}

.movieDetails {
  color: white;
}

.movieRating {
  color: rgb(70, 211, 105);
}

.movieOverview {
  color: lightslategrey;
  padding: 40px 0;
}

.movieTrailerButton {
  background-color: goldenrod;
  color: white;
  border: none;
  padding: 10px;
}

.addToListButton {
  background-color: transparent;
  outline: 1px solid white;
  color: white;
  padding: 10px;
}

.castListHeading {
  color: white;
}

.castList {
  overflow: hidden;
  display: flex;
  color: white;
}

.logo {
  color: goldenrod;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 2160px;
}

.homeWrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  max-width: 2160px;
}

.movieDescription {
  margin-bottom: 100px;
  width: 50%;
}

.movies {
  background: black;
}

.genreHeader {
  color: white;
}

.movieImage {
  margin-right: 20px;
  padding: 10px 0;
  transition: transform 0.2s ease-in-out;
}

.movieImage:hover {
  transform: scale(1.05);
}