.auth {
    min-height: calc(100vh - 50px);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.authContainer {
    background-color: white;
    width: 50%;
    height: 50vh;
}

.authForm {
    padding: 50px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px 0 10px 10px;
}